
html,body{background-color:#e6e6e3;}
body{font-family:"Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;}

.color-red{color:#ff0000;}
.marg20{margin-top:20px;}
.marg30{margin-top:30px !important;}

.findpwd-wrap{width:960px;background-color:#ffffff;padding:5px;margin:0 auto;margin-top:10px;min-height:500px;}
.fd-title-wrap{height:45px;padding-top:25px;position:relative;color:#646464;text-shadow:0px 1px 1px #ffffff;padding-left:40px;text-align:left;font-size:24px;
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#d3d3d3));
    background: -moz-linear-gradient(top,  #e5e5e5,  #d3d3d3);
    background: -o-linear-gradient(top, #e5e5e5, #d3d3d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#d3d3d3');
    background: linear-gradient(to bottom, #e5e5e5, #d3d3d3);
}
.fd-title-wrap span{position:absolute;right:40px;top:20px;font-size:28px;color:#c8c8c8;text-shadow:0px 1px 1px #ffffff;font-weight:bold;}

.fd-main-wrap{padding:40px;}

.reg-list{}
.reg-list dt .red-xing{color:#ff0000;font-size:20px;padding-left:5px;}
.reg-list dd{margin-top:3px;}
.reg-input{border:#b0b8bf solid 1px;border-radius:5px;width:370px;background-color:#ffffff;padding-left:5px;font-size:14px;height:35px;line-height:35px;}
.reg-inp-fail{border-color:#f26f00;}
.reg-input-prompt{font-size:12px;color:#c8c8c8;display:block;}

.reg-btn-wrapper{margin-top:15px;text-align:left;}
.reg-btn-wrapper a{padding-left:20px;font-size:14px;font-weight:bold;}
.reg-btn{background-color:#f26f00;color:#ffffff;border:0px;border-radius:5px;font-size:14px;line-height:35px;width:210px;vertical-align:middle;cursor:pointer;}
.btn-orange{
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fa6e00),to(#e86400));
    background: -moz-linear-gradient(top,  #fa6e00,  #e86400);
    background: -o-linear-gradient(top, #fa6e00, #e86400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa6e00', endColorstr='#e86400');
    background: linear-gradient(to bottom, #fa6e00, #e86400);
}
.btn-green{
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#95be02),to(#82ac1c));
	background: -moz-linear-gradient(top,  #95be02,  #82ac1c);
    background: -o-linear-gradient(top, #95be02, #82ac1c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95be02', endColorstr='#82ac1c');
    background: linear-gradient(to bottom, #95be02, #82ac1c);
}
.btn-grey{background-color:#bebfbf;}

.chose-title{color:#646464;font-size:18px;}
.chose-list{width:100%;color:#646464;background-color:#FFF;}
.chose-list th,.chose-list td{text-align:center;}
.chose-list th{line-height:30px;border-bottom:#b2b2b2 solid 2px;}
.chose-list td {height:50px;}
.chose-list td div{line-height:40px;margin-top:10px;*display:inline-block;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e6e6e6));
    background: -moz-linear-gradient(top,  #f5f5f5,  #e6e6e6);
    background: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e6e6e6');
    background: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
}
.fda-blue{color:#0f6db8;}
.fda-blue:hover{text-decoration:none;}

/*弹层*/
html,body{_height:100%;}
.fd-apv-grey{position:absolute;left:0;top:0;background-color:#000000;opacity:0.6;filter:alpha(opacity=60);width:100%;height:100%;z-index:2;}
.fd-apv-text{width:560px;height:130px;padding-top:90px;text-align:center;background-color:#ededed;position:absolute;left:50%;top:50%;margin-left:-280px;margin-top:-110px;border-radius:10px;z-index:3;}
.fd-apv-text span{color:#4e6274;font-size:30px;background:url(11.png) no-repeat left;height:37px;line-height:37px;display:inline-block;padding-left:70px;}
/*弹层end*/
.footer{text-align:center;color:#808080;margin:40px 0;}

/* by 13 start */
.fd-main-wrap{
    display: none;
}
.tpl-state-active{
    display: block;
}
.btn-state-disabled{
    background:none;
    background-color:#bebfbf!important;
    cursor: default ! important;
}